div.tooltipAttributeList {
    display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 22.5rem;
}

div.tooltipAttributeList img {
    width: 20px;
    height: 20px;
    margin-right: 0.5em;
}

div.tooltipAttributeList span {
    width: 7rem;
    display:flex;
    justify-content: flex-start;
    flex-shrink: 1;
}

.ui-control-stats-progressbar.action-points-slim,
.ui-control-stats-progressbar-preview.action-points-slim
{
	background-image: url("coui://gfx/ui/skin/rf_bar_fill_action_196.png");
	background-repeat: no-repeat;
	background-size: 19.6rem 2.0rem;
}

div.maxi-damage-tooltip
{
    display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 22.5rem;
}

div.maxi-damage-tooltip img {
    width: 20px;
    height: 20px;
    margin-right: 0.5em;
}

div.maxi-damage-tooltip span {
    width: 7rem;
    display:flex;
    justify-content: flex-start;
    flex-shrink: 1;
    font-size: 14px;
}
